:root {

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0
}

h1 {
  padding: .67em;
}
h2,h6 {
  padding: .75em;
}
h3,h5 {
  padding: .83em;
}
h4 {
  padding: 1.12em;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
